<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <header>
    <nav>
      <a href="/shirts">View your shirts</a>
    </nav>
  </header>
  <main>
    <section class="shirt-container">
      <%- include('partials/shirt') %>
    </section>
    <section class="options-container">
      <form action="/" method="post" id="shirt-settings">
        <fieldset>
          <legend>Text:</legend>
          <input type="text" name="text" placeholder="Your text here"
            maxlength="20" value="<%= locals.text %>" oninput="updateText(this)">
        </fieldset>
        <% for (setting of Object.keys(shirtData)) { %>
          <fieldset>
            <legend><%=  shirtData[setting].title %></legend>
            <% for (option of shirtData[setting].options) { %>
              <input
                type="radio"
                id="<%= option %>"
                name="<%= setting %>"
                value="<%= option %>"
                <% if (locals[setting]) { %>
                  <% if (locals[setting] === option) { %>
                    checked
                  <% } %>
                <% } else if (shirtData[setting].default === option){ %>
                  checked
                <% } %>
                >
              <label class="radio" for="<%= option %>"><%= option %></label>
            <% } %>
          </fieldset>
        <% } %>
        <button type="submit" id="submit-button">Update Shirt Settings</button>
      </form>
      <form action="/shirts" method="post">
        <button type="submit" class="confirm">Save Shirt</button>
      </form>
    </section>
  </main>
</body>
<script src="scripts/script.js" charset="utf-8"></script>
</html>
