<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <header>
    <nav>
      <a href="/shirts">View your shirts</a>
    </nav>
  </header>
  <main>
    <section class="shirt-container">
      <%- include('partials/shirt') %>
    </section>
    <section class="options-container">
      <form action="/" method="post">
        <fieldset>
          <legend>Text:</legend>
          <input type="text" name="text" placeholder="Your text here" maxlength="20" value="<%= locals.text %>">
          <button type="submit">Update</button>
        </fieldset>
      </form>
      <form action="/" method="post">
        <% for (setting of Object.keys(shirtData)) { %>
          <fieldset>
            <legend><%= shirtData[setting].title %>:</legend>
            <%- include('partials/button-list', {valueList: shirtData[setting].options, name: setting}) %>
          </fieldset>
        <% } %>
      </form>
      <form action="/shirts" method="post">
        <button type="submit" class="confirm">Save Shirt</button>
      </form>
    </section>
  </main>
</body>
</html>
