<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <header>
    <nav>
      <a href=<%= `../?color=${shirtData.color.default}&size=${shirtData.size.default}&sex=${shirtData.sex.default}` %>>Create a shirt</a>
    </nav>
  </header>
  <main>
    <section>
      <h1>Your Shirts</h1>
      <% if (locals.userData && locals.userData.shirts && locals.userData.shirts.length > 0) { %>
        <ol>
          <% for ([i, shirt] of Object.keys(userData.shirts).entries()) { %>
            <li>
              <a href=<%= `../?color=${userData.shirts[shirt].color}&size=${userData.shirts[shirt].size}&sex=${userData.shirts[shirt].sex}`%><% if (userData.shirts[shirt].text) { %><%= '&text=' + userData.shirts[shirt].text %><%}%>>
              <% for (setting of Object.keys(shirtData)) { %>
                <%= userData.shirts[shirt][setting] %>
              <% } if (userData.shirts[shirt].text) { %>
                - <%= userData.shirts[shirt].text.replace('+', ' ') %>
              <% } %>
              </a>
              <form action="ordershirt/<%= i %>" method="post">
                <button type="submit">Order</button>
              </form>
              <form action="removeshirt/<%= i %>" method="post">
                <button type="submit" class="warning">Delete</button>
              </form>
            </li>
          <% } %>
        </ol>
      <% } else { %>
        <p>You don't have any shirts saved. Start creating your first shirt
          <a href=<%= `../?color=${shirtData.color.default}&size=${shirtData.size.default}&sex=${shirtData.sex.default}` %>>here</a>
        !</p>
      <% } %>
    </section>
    <section>
      <h1>Current Order</h1>
      <%- include('partials/order-list') %>
      <% if (locals.userData && locals.userData.order && locals.userData.order.length > 0) { %>
      <form action="/order" method="get">
        <button type="submit" class="confirm">Order</button>
      </form>
      <% } %>
    </section>
  </main>
</body>
</html>
